.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%
}

body {
    background: #f2f2f2!important;
}

iframe {
    display: block;
    margin: auto;
}
